@font-face { font-family: Moscow; src: url('moscow.ttf'); } 

* {
    font-family: Moscow;
    font-size: 25px;
}

.main-row {
    margin-top: 50px;
    display: none;
}

.delta {
    text-align: right;
    font-size: 100px;
}


.curr {
    margin-top: 40px;
    font-size: 30px;
}


.delta-label {
    text-align: right;
}

.degree-label {
    display: inline-block;
}

.header {
    text-align: right;
}

#switch-container {
    margin: 0;
}

@media screen and (max-width: 549px) {
    #switch-container {
        float: right;
    }
}

@media screen and (max-width: 590px) {
    .curr {
        text-align: right;
    }

    
}