@font-face { font-family: Moscow; src: url('moscow.ttf'); } 

* {
    font-family: Moscow;
    font-size: 25px;
}

.main-row {
    margin-top: 50px;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.delta {
    text-align: right;
    font-size: 100px;
}


.curr {
    margin-top: 40px;
    font-size: 30px;
}


.delta-label {
    text-align: right;
}

.degree-label {
    display: inline-block;
}

.header {
    text-align: right;
}

#switch-container {
    margin: 0;
}

@media screen and (max-width: 549px) {
    #switch-container {
        float: right;
    }
}

@media screen and (max-width: 590px) {
    .curr {
        text-align: right;
    }

    
}

.delta {
    color: black;
    transition: color 300ms ease-in-out 0.7s;
}

.warm {
    color: rgb(255, 0, 0);
}

.cold {
    color: rgb(0, 162, 255);
}
